/*==== reset CSS ====*/
html{
    height:100%;
}
body{
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 12px;
    background:#eceff0;
    color:#080808;
    line-height: 1em;
    min-width: 320px;
    position:relative;
    height:100%;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form{
    margin:0;
    padding:0;
    border:0;
    line-height: 1em;
}
ul,ol{
    list-style:none;
    line-height: 1em;
}
a{
    text-decoration: none;
}
img{
    border:0;
}
a{
    color:#080808;
}

/*==== 清除浮动 ====*/
.clearfix:after {       
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size:0;
}

/*==== 通用样式库 ====*/
.l{float:left;}.r{float:right;}.cl{clear:both;}
.tc{text-align: center;}.tr{text-align: right;}.tl{text-align: left;}
.vm{vertical-align: middle;}
.db{display:block;}.dib{display:inline-block;}.di{display:inline;}.dn{display:none;}
.ovh{overflow:hidden;}.vh{visibility:hidden;}.vv{visibility:visible;}
.mg-auto{margin:0 auto;}

/*==== 首页样式 ====*/
.page{
    width:100%;
    height:100%;
    background:url(../img/bg.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    overflow:hidden;
}
.wrap-box{
    width:7.03125rem;
    height:12.5rem;
    margin:0 auto;
    padding-top: 1.875rem;
    position:relative;
}
.index{
    opacity:1;
}
.index h1{
    margin-top: 1.5625rem;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
}
.index p{
    font-size: 0.78125rem;
    text-shadow: 2px 2px 5px #777;
}
.index .copy{
    font-size: 0.390625rem;
    margin-top: 1.5625rem;
}
.index .copy .name{
    color:rgba(3, 62, 229, 0.8);
}
.index .beginBtn{
    margin-top: 3.125rem;
}
.index .ruleBtn{
    margin-top: 1.5625rem;
}
.rule{
    opacity:0;
}
.rule h1{
    margin-top: 1.5625rem;
}
.rule .main-rule{
    text-align: left;
    font-size: 0.390625rem;
    list-style: decimal;
    margin-left: 0.9375rem;
    margin-top: 1.09375rem;
}
.rule .main-rule li{
    line-height: 1.5em;
}
.rule .tips{
    text-align: left;
    margin-top: 1.5625rem;
    margin-left: 0.390625rem;
    font-size: 0.34375rem;
}
.rule .tips p{
    line-height: 1.5em;
}
.rule .back{
    width:0.78125rem;
    height:0.78125rem;
    font-size: 0.625rem;
    position:absolute;
    top:2.8125rem;
    right:0;
}
.diff{
    opacity:0;
}
.diff .choice{
    margin-top: 2.34375rem;
}
.diff .choice li{
    width:3.125rem;
    margin:0.3125rem auto;
    font-size: 0.625rem;
    line-height: 1.8em;
}
.game{
    margin: 2.8125rem 0.625rem 0;
    opacity:0;
}
.game h4{
    margin:0.3125rem 0;
}
.game .block{
    display:inline-block;
    width:1.5625rem;
    height:2.34375rem;
    margin:0 0.15625rem;
    overflow:hidden;
    position:relative;
}
.game img{
    width:1.5625rem;
    height:2.34375rem;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transition:transform .25s linear;
}